ENV=DEV
APP_NAME=ConnectCards
BASE_URL=http://localhost:8000

DATABASE_URI=your_database_uri_here
DATABASE_TEST=your_test_database_uri_here
DATABASE_PROD=your_production_database_uri_here

JWT_ALGORITHM=HS256
JWT_SECRET_KEY=your_jwt_secret_key
ACCESS_TOKEN_EXPIRE_WEEKS=2

ADMINEMAIL=admin@example.com
ADMINPASSWORD=your_admin_password

OTP_EXPIRY_MINUTES=10
OTP_LENGTH=6

WEB_FRONTEND_URL=http://localhost:3000
AUTH_SUCCESS_REDIRECT_URI=/auth/success

# Alembic dabase string with psycopg2
# Not used but mentionned in order to remember to setup them in each alembic_env.ini if managing multiple envs
ALEMBIC_SQLALCHEMY_URL=your_database_uri_with_psycopg2_driver_here
ALEMBIC_SQLALCHEMY_DEV_URL=your_dev_database_uri_with_psycopg2_driver_here
ALEMBIC_SQLALCHEMY_TEST_URL=your_test_database_uri_with_psycopg2_driver_here
ALEMBIC_SQLALCHEMY_STAGING_URL=your_staging_database_uri_with_psycopg2_driver_here
ALEMBIC_SQLALCHEMY_PROD_URL=your_prod_database_uri_with_psycopg2_driver_here